html {
	box-sizing: border-box;
	font-size: 13px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	color: var(--vscode-foreground);
}

body,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h2{
	margin: 0;
	padding: 10px 50px; /* top|bottom - left|right */
	font-weight: normal;
}
h3{
	margin: 0;
	padding: 10px 25px; /* top|bottom - left|right */
	font-weight: normal;
}
h4{
	margin: 0;
	padding: 5px 10px; /* top|bottom - left|right */
	font-weight: normal;
	font-style: italic;
}

li{
	list-style-type: none;
}

.togarrow {
	color: var(--vscode-icon-foreground);
}
.info{
	color: var(--vscode-debugView-stateLabelForeground);
	border-radius: 0.3rem;
	background-color: var(--vscode-debugView-stateLabelBackground);
	padding: 0.1rem 0.2rem;
	margin-left: 0.3rem;
	font-size: 1rem;
}

.info.title{
	font-size: 1rem;
	font-weight: bold;
}

.key{
	color: var(--vscode-debugTokenExpression-name);
}


.value{
	color: var(--vscode-debugTokenExpression-number);
}

.toggable {
	margin-left: 0.5rem;
}

*:not(.toggled) > .toggable {
	display: none;
}
.toggled .icon .codicon{
	color: blue;
}

.toggle:hover {
	cursor: pointer; 
}

.rotate {
	rotate: -90deg;
}

img {
	max-width: 100%;
	height: auto;
}

span.vm_maps{
	color: rgb(255, 139, 139);
}
span.vm_maps.R{
	color: rgb(255, 243, 133);
}
span.vm_maps.R.W{
	color: rgb(138, 255, 138);
}

body>div{
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}
body>div:nth-of-type(odd){
	background-color: transparent;
}
body>div:nth-of-type(even){
	background-color: rgba(0, 0, 0, 0.15);
}